In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
dataset = pd.read_csv('heart.csv')

In [3]:
dataset.drop(['fbs', 'chol'], axis = 1, inplace = True)

In [4]:
dataset

,age,sex,cp,trtbps,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,0,150,0,2.3,0,0,1,1
1,37,1,2,130,1,187,0,3.5,0,0,2,1
2,41,0,1,130,0,172,0,1.4,2,0,2,1
3,56,1,1,120,1,178,0,0.8,2,0,2,1
4,57,0,0,120,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,1,123,1,0.2,1,0,3,0
299,45,1,3,110,1,132,0,1.2,1,0,3,0
300,68,1,0,144,1,141,0,3.4,1,2,3,0
301,57,1,0,130,1,115,1,1.2,1,1,3,0
302,57,0,1,130,0,174,0,0.0,1,1,2,0

In [5]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [11]:
# import sklearn

In [12]:
# sklearn.__version__

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [9]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
y_pred = classifier.predict(X_test)
# cm = confusion_matrix(y_test, y_pred)
# print(cm)
accuracy_score(y_test, y_pred)

0.8289473684210527

In [13]:
import pickle

In [14]:
pickle_out = open('classifier4.pkl', 'wb')
pickle.dump(classifier, pickle_out)
pickle_out.close()